@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1
{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2
{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4
{
    font-size: 20px;
    color: #222;
}

h6
{
    font-size: 12px;
    font-weight: 700;
}

p
{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1
{
    padding: 40px 80px;
}

.section-m1
{
    margin: 40px 0;
}

button.normal
{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body
{
    width: 100%;
    line-height: 1.5;
    /* background-color: #e6d9d9; */
}

#header
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 80px;
   background: #e3e6f3;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
   z-index: 999;
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
}

.header-search-container
{
    position: relative;
    align-items: center;
}

#header .search-field
{
    font-size: 20px;
    padding: 6px 15px;
    padding-right: 50px;
    border: 1px solid var(--cultured);
    border-radius: 20px;
}

#header .search-field::after
{
    appearance: auto;
}

.search-field::-webkit-search-cancel-button
{
    display: none;
}

.header-search-container .search
{
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateX(-50%);
    font-size: 20px;
    padding: 8px 15px;
    transform: translate(-4px, -15px);
}

input
{
    display: block;
    width: 100%;
}

:root 
{
    --border-radius: 10px;
}

.Card 
{
    padding: 1px;
    border-radius: var(--border-radius);
    background: linear-gradient(-67deg, rgba(#c8d8e7, .7), rgba(255,255,255,.8));
    overflow: hidden;
    box-shadow: 
        -2px -2px 6px rgba(#fff, .6),
        2px 2px 12px #c8d8e7;
    width: 380px;
}
  
.CardInner 
{
    padding: 16px 16px;
    background-color: #e2e9f4;
    border-radius: var(--border-radius);
}
  
.container 
{
    display: flex;
}
  
.Icon .btn-search 
{
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    margin-right: 12px;
    background: #e2e9f4;
    border: none;
    outline: none;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

svg 
{
    transform: translate(-1px, -1px);    
}
  
label 
{
    font-family: "Hind", sans-serif;
    display: block;
    color: #3c4b66;
    margin-bottom: 12px;
    background: linear-gradient(45deg, rgba(#6b7b8f, 1), #3c4b66);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}
  
.InputContainer 
{
    width: 100%;
    /* font-size: 20px; */
}
  
input 
{
    background-color: #e3edf7;
    padding: 16px 32px;
    border: none;
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: #a9b8c9;
    /* -webkit-appearance: none; */
    transition: all 240ms ease-out;
    width: 100%;
    font-size: 16px;
}

input::placeholder 
{
    color: #6d7f8f;
}

input:focus
{
    outline: none;
    color: #6d7f8f;
    background-color: lighten(#e3edf7, 3%);
}
    
.InputContainer 
{
    --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
    --bottom-shadow: inset -2px -2px 4px rgba(255,255,255, .7);
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.InputContainer:after,
.InputContainer:before 
{
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

.InputContainer:after
{
    box-shadow: var(--bottom-shadow);
}

.InputContainer:after 
{
    box-shadow: var(--top-shadow);
}

#navbar 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li
{
    /* list-style: none; */
    padding: 0 20px;
    position: relative;
}

#navbar li a
{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    display: block;
    line-height: 35px;
}

#navbar li a:hover, 
#navbar li a.active
{
    color: #088178;

}

#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.sub-menu
{
    position: absolute;
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px 0px 10px 20px;
    visibility: hidden;
    top: 50px;
    z-index: 10;
    background-color: snow;
    cursor: pointer;
    line-height: 35px;
    transition: 0.3s;
}

#navbar li:hover .sub-menu
{
    visibility: visible;
    /* top: 30px; */
    transition: 0.3s;
}
.sub-menu-user
{
    position: absolute;
    width: 130px;
    border: 1px solid #ccc;
    padding: 10px;
    visibility: hidden;
    top: 50px;
    z-index: 10;
    background-color: snow;
    cursor: pointer;
    line-height: 35px;
    margin-left: -50px;
    transition: 0.3s;
}

#navbar li:hover .sub-menu-user
{
    visibility: visible;
    transition: 0.3s;
}

.brand
{
    padding-left: 20px;
}

.sub-menu .brand li:hover
{
    color: #088178;
}

#page-header
{
    text-align: center;
    width: 100%;
    height: 40vh;

}

#page-header img
{
    width: 100%;
    height: 300px;
}

.product-container
{
    padding: 10rem;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.product-list
{
    text-align: center;
}

.product-list .product
{
    width: 23%;
    min-width: 250px;
    padding: 10px 20px;
    border: 1px solid #cce7d0;
    border-radius: 0.55rem;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0 , 0.02);
    margin: 15px 0;
    transition: 0.5s ease;
}

.product-list .product .design
{
    text-align: start;
    padding: 10px;
} 

.product-list .product .design span
{
    color: #606063;
    font-size: 12px;
}

.product-list .product .design h5
{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.product-list .product .design h4
{
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
    color: #f00606;
}

.product-list .product .cart
{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0.5rem;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
}

.product-list .product:hover
{
    box-shadow: 20px 20px 30px rgba(0, 0, 0 , 0.10);
}

.product-list .product img
{
    width: 100%;
    border-radius: 0.5rem;
}

#paginations
{
    text-align: center;
}

#paginations a
{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    background-repeat: 4px;
    color: #fff;
    font-weight: 600;
}

#paginations a i
{
    font-size: 16px;
    font-weight: 600;
}

.footer
{
    background-color: #24262b;
    padding: 70px 0;
}

.footer-container
{
    max-width: 170%;
    margin: auto;
}

.row 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translate(160px, 0px);
}

ul
{
    list-style: none;
}

.footer-col
{
    width: 25%;
    padding: 0 15px;
    justify-content: space-between;
}

.footer-col h4  
{
    font-size: 18px;
    color: #fff; 
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}

.footer-col ul li a
{
    font-size: 18px; 
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover
{
    color: #fff;
    padding-left: 10px;
}

.footer-col .social-links a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px; 
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover
{
    color: #24262b;
    background-color: #ffff;
}

/* @media(max-width: 767px)
{
    .footer-col
    {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px)
{
    .footer-col
    {
        width: 100%;
    }
} */

@media (max-width: 799px)
{
    #navbar
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }
    #navbar li
    {
        margin-bottom: 25px;
    }
}